/* 
    Created on : 09.11.2015, 22:59:50
    Author     : silver
*/
table {
    border-spacing: 0;
}

td, th {
    padding: 2px 4px;
    
}
td {
   cursor: pointer; 
   border-bottom: 1px #006400 solid;
   /* border-top: 1px yellowgreen solid;
    border-left: 1px yellowgreen solid;*/
    border-right: 1px #006400 solid;
}
tbody {
    border: 1px #006400 solid;
}
tbody tr:hover {
    background-image: -webkit-linear-gradient(top, #F7DA57 0,#ECEA94 100%);
    background-image: linear-gradient(top, #F7DA57 0,#ECEA94 100%);
}
.row-select {
    background-image: -webkit-linear-gradient(top, rgba(144, 222, 19, 0.82) 0,rgba(133, 255, 0, 0.53) 100%);
    background-image: linear-gradient(top, rgba(144, 222, 19, 0.82) 0,rgba(133, 255, 0, 0.53) 100%);
}

