/* 
    Created on : 09.11.2015, 22:59:50
    Author     : silver
*/
body {
    background-color: #c7b4ed;
}

.region {
    background-color: #ede5ff;
    border-radius: 3px;
    border: 1px solid #2a1f3f;
    margin: 5px;
    width: 30%;
    display: inline-block;
}
.region-header {
    color: rgb(38, 0, 94);
    margin: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
table {
    background-color: white;
    border-radius: 2px;
    border-collapse: collapse;
    margin: 10px;
}
table#tbl0 {
    border: 1px rgb(163, 208, 228) solid;
    color: rgb(0, 67, 94);
}
table#tbl1 {
    border: 1px rgb(187, 168, 216) solid;
    color: rgb(38, 0, 94);
}
table#tbl2 {
    border: 1px rgb(140, 206, 133) solid;
    color: rgb(35, 51, 33);
}

td, th {
    padding: 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
}

td {
   cursor: pointer; 
}
#tbl0 td {
   border: 1px rgb(163, 208, 228) solid;
}
#tbl1 td {
   border: 1px rgb(187, 168, 216) solid;
}
#tbl2 td {
   border: 1px rgb(140, 206, 133) solid;
}

tbody tr:hover {
    background-image: -webkit-linear-gradient(top, #F7DA57 0,#ECEA94 100%);
    background-image: linear-gradient(top, #F7DA57 0,#ECEA94 100%);
}
.row-select {
    background-image: -webkit-linear-gradient(top, rgba(144, 222, 19, 0.82) 0,rgba(133, 255, 0, 0.53) 100%);
    background-image: linear-gradient(top, rgba(144, 222, 19, 0.82) 0,rgba(133, 255, 0, 0.53) 100%);
}

th {
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.4) 0,  rgba(255,255,255, 0.0) 100%);
    background-image: -webkit-linear-gradient(to bottom, rgba(255,255,255, 0.4) 0,  rgba(255,255,255, 0.0) 100%);   
}
#tbl0 th {
    background-color: #d9ecf5;
    border: 1px rgb(163, 208, 228) solid;
}
#tbl1 th {
    background-color: rgb(229, 217, 245);
    border: 1px rgb(187, 168, 216) solid;
}
#tbl2 th {
    background-color: rgb(198, 249, 183);
    border: 1px  rgb(140, 206, 133) solid;
}

@keyframes hidecol {
    from {width : 100 %;
          opacity : 1.0;}
    to {width : 0;
        opacity : 0.0;
        display : none;
    }
}
.hide-col {
    animation-name: hidecol;
    animation-duration: 3s;
}

button {
    height: 18px;
    margin: 5px 10px;
}