/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.11.2015, 22:41:52
    Author     : silver
*/

ul#result { 
    border: 2px ridge maroon; 
    background-color: #ffffcc; 
    padding: 0.25em 1.5em; 
    margin-left: 0; 
}
#result li.pass {
    color: #006400;
}
#result li.fail {
    color: #dc143c; text-decoration: line-through;
}