.wrap {
    width: 720px;
/*	height: 500px;*/
    margin: auto;
    border: 1px solid green;
    /*padding: 2px;*/
}
.way,
.way-title{
    border-bottom: 1px solid green;
    /*display: inline-block;*/
    /*position: relative;*/
}
.way-title {
    width: 100px;
    height: 56px;
    border-right: 1px solid green;
    
}

.roll {
    border-top: 2px solid #4e5279;
    border-bottom: 2px solid #4e5279;
    background: -webkit-linear-gradient(top,  #cee0ea 0%,#4e5279 100%); 
    background: linear-gradient(top,  #cee0ea 0%,#4e5279 100%); 
    margin: 2px 9px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    position: relative;
    cursor: move;
    //background-color: #6666ff;
}
.roll:before {
    background: -webkit-linear-gradient(top,  #cee0ea 0%,#4e5279 100%); 
    background: linear-gradient(top,  #cee0ea 0%,#4e5279 100%); 
    position: absolute;
    top: -2px;
    left: -8px;
    content: "";
    border: 2px solid #4e5279;
    border-radius: 50%;
    width: 15px;
    height: 50px;
    z-index: -1;
}

.roll:after {
    background: -webkit-radial-gradient(center, black 0%, black 20%,
                                             #cee0ea 20%,#4e5279 100%);
    background: radial-gradient(center, black 0%, black 20%,
                                     #cee0ea 20%,#4e5279 100%);
    position: absolute;
    top : -2px;
    right: -8px;
    content: "";
    border: 2px solid #4e5279;
    border-radius: 50%;
    width: 15px;
    height: 50px;
}

.roll.over {
    border-top: 2px red dashed;
    border-bottom: 2px red dashed;
}

.roll.over:before {
       border: 2px red dashed;
}

.roll.over:after {
       border: 2px red dashed;
}